.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
}

.gridItem {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.gridItem:first-child {
  grid-column: span 2;
}

.contentTheme{
  font-size: 0.75rem;
  font-weight: 700;
}

.mainContentTitle{
  font-size: 3.625rem;
}

.title{
  font-size: 1.25rem;
}

.topNewsImageBox{
  width: 280px;
  height: 190px;
  overflow: hidden;
  border-radius: 10px;
}

.contentBox{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 0.5rem;
  gap: 0.5rem;
}

@media (max-width: 600px) {
  .gridContainer {
    gap: 1.5rem;
  } 

  .gridItem:first-child {
    grid-column: span 1;
  }

  .mainContentTitle{
    font-size: 2.5rem;
  }

  .title{
    font-size: 1.5rem;
  }

  .contentTheme{
    font-size: 1rem;
  }

  .topNewsImageBox{
    width: 100%;
    height: 200px;
  }
  
  .coverImage{
    width: 100%;
    height: 200px;
  }
}