:root {
	--mainColor: #12345678;
}

body {
	color: var(--mainColor);
}

a {
	color: rgb(0 0 100% / 90%);
}

a:hover {
		color: rgb(131, 27, 0);
	}

@media (color-gamut: p3) {
a:hover {
		color: color(display-p3 0.49362 0.10739 0);
	}
}

a  > span {
		color: rgb(0, 222, 199);
	}

@media (color-gamut: p3) {
a  > span {
		color: color(display-p3 0.33498 0.86864 0.78466);
	}
}

@media (prefers-color-scheme: dark) {

a {
		color: rgb(12, 100, 100);
}
	}

aside {
	margin-top: 1rem;
	margin-bottom: 2rem;
	margin-left: 3rem;
	margin-right: 4rem;
	width: 10vw;
	width: 10vi;
	height: 20vh;
	height: 20vb;
}

@media (min-width: 48rem) and (max-width: 63.999rem) {
	input:hover, input:focus, button:hover, button:focus {
		color: rebeccapurple;
	}
}
